{% extends "base.html" %}

{% load static %}

{% block content %}
  {% if form.errors %}
    <p>ログイン認証に失敗しました</p>
  {% endif %}

<div class="row">
    <div class="col s4" style="margin-left:30%;">

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>                    
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <div class="col s12">
                <button type="submit" value="login" class="btn btn-default" style="margin: 15px 0 0 20%">login</button>
                    <input type="hidden" name="next" value="{{ next }}">
                <a href="{% url 'demo_app:signup' %}"><button type="button" class="btn btn-default" style="margin: 15px 0 0 20%">sign-up</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
